.container {
    position: relative;
}
.container img {
    width: 100%;
}
.textContainer {
    position: absolute;
    top: 150px;
    left: 80px;
    
    h1 {
        font-weight: bold;
        font-size: 7rem;
        color: #696969;
    }

    p {
        margin-top: 30px;
        font-size: 4rem;
        color: #696969;

        span {
            font-weight: bold;
            color: #30c0e4;
        }
    }
}