.image {
    width: 300px;
    height: 200px;
}
.container {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgb(189, 189, 189);
    background: #ececec;
}
.container h3 {
    margin: 30px 0 30px 20px;
    color: rgb(99, 99, 99);
}
.container p {
    margin:0 30px 30px;
    color: #fff;
    background-color: rgb(10, 145, 46);
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

.counterBox {
    display: flex;
    align-items: center;
    border-top: 1px solid silver;
}
.counterBox img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 20px 15px;
}
.counterBox span {
    padding: 5px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
}
.deactive {
    opacity: 0.3;
  }