.container div {
    display: flex;
    justify-content: space-around;
    
    img {
        width: 300px;
    }
}

.container {
    margin: 50px 0;
  
    p{
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: #505050;
    }
}