.header {
    padding: 0 80px;
    background-color: #9e9e9e;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    width: 40px;
    border-radius: 50%;
    margin: auto 0;
}
.navbarList {
    padding: 30px 0;
    
    .navbar {
        display: flex;
        list-style-type: none;
        
        li {
            margin-right: 20px;
            font-weight: bold;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}