.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30c0e4;
    color: #fff;
    padding: 80px 150px;

    p{
        font-size: 4.5rem;
        font-weight: bold;
    }
}

.container div input {
    width: 300px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;

    &::placeholder {
        font-size: 18px;
    }
}